



<section class="vh-100">
    <div class="container-fluid h-custom">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-md-9 col-lg-6 col-xl-5 mt-5 pt-5">
          <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
            class="img-fluid" alt="Sample image">
        </div>
        <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1 mt-5">
          <form (ngSubmit)="login()" [formGroup]="loginForm">
            <div class="d-flex flex-row align-items-center justify-content-center justify-content-lg-start mt-5">
              <p class="lead fw-normal mb-0 me-3">Login</p>
            </div>
            <!-- Username input -->
            <div class="form-outline mb-4">
              <input name="uname" formControlName="uname" type="text" id="form3Example3" class="form-control form-control-lg"
                placeholder="Enter a valid username" />
              <label class="form-label" for="form3Example3">username</label>
            </div>

            <!-- invalid uname -->
         <div *ngIf="this.loginForm.get('uname')?.errors&&this.loginForm.get('uname')?.touched"
         class="text-danger mb-2">Invalid Username</div> 
 
  
            <!-- Password input -->
            <div class="form-outline mb-3">
              <input name="pswd" formControlName="pswd" type="password" id="form3Example4" class="form-control form-control-lg"
                placeholder="Enter password" />
              <label class="form-label" for="form3Example4">Password</label>
            </div>

              <!-- invalid pswd -->
       <div *ngIf="this.loginForm.get('pswd')?.errors&&this.loginForm.get('pswd')?.touched"
       class="text-danger mb-2">Invalid Password</div> 


            <div class="text-center text-lg-start mt-4 pt-2">
              <button type="submit" class="btn btn-primary btn-lg"
                style="padding-left: 2.5rem; padding-right: 2.5rem;">Login</button>
              <p class="small fw-bold mt-2 pt-1 mb-0">Don't have an account? <a routerLink="/register"
                  class="link-danger">Register</a></p>
            </div>
  
          </form>
        </div>
      </div>
    </div>

  </section>